// Colors


$primary:  #073763;
$accent:  #E4572E;

// Semantics
$success:  #9FD356;
$danger:  #960200;
$warning:  #EDA921;
$info:  #0074D9;

// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;